* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-image: linear-gradient(red, yellow);
}

/* Nav and hamburger-menu */

.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a.icon:hover {
  background-color: #333;
}

.HeadPicture {
  width: 100%;
  margin: 0px;
}

.SpaceBetween {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.JoinTheSmoovement {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainPicture {
  width: 100%;
  margin: 0px;
}

.TextOverPicture {
  display: flex;
  position: absolute;
  color: white;
  font-size: 50px;
}

.TextInBetween {
  text-align: center;
}

.MovingText {
  font-size: 50px;
  text-align: center;
}
