* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.HamburgerMenu {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 5vh;
  height: 5vh;
}

.HamburgerMenu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.HamburgerMenu a:hover {
  background-color: #ddd;
  color: black;
}

.Logo {
  font-size: large;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.HeadPicture {
  width: 100%;
  margin: 0px;
}

.SpaceBetween {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.JoinTheSmoovement {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.Container {
  position: relative;
}

.MainPicture {
  width: 100%;
  margin: 0px;
}

.TextOverPicture {
  position: absolute;
}
