* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.HamburgerMenu {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.Logo {

}

.HeadPicture {
  width: 100%;
  margin: 0px;
}

.MainPicture {
  width: 100%;
  margin: 0px;
}

.SpaceBetween {
  width: 100%;
  height: 200px;
  background-color: aqua;
  color: red;
  margin: 0px;
}
