Footer ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer {
  color: white;
  text-align: center;
  width: 100%;
  text-decoration-color: white;
  z-index: 1;
  position: relative;
}

footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

footer a {
  color: white;
  font-family: "Abel", sans-serif;
  font-size: 24px;
}

footer li {
  list-style-type: none;
  margin-top: 50px;
}

footer ul :last-child {
  margin-bottom: 144px;
}

footer ul :first-child {
  margin-top: 144px;
}

.FooterMedia img {
  margin-bottom: 20px;
  margin-top: 40px;
}
.FooterMedia {
  padding-bottom: 80px;
}

.FooterLogo {
  margin-left: 12%;
  width: 200px;
}

/*  Laptop footer */
@media screen and (min-width: 540px) {
  footer ul :first-child {
    margin-top: 50px;
  }

  #FooterInfo {
    display: flex;
    justify-content: space-evenly;
  }

  #FooterInfo li {
    text-decoration: none;
    display: inline-block;
  }

  #FooterInfo li:hover a {
    color: #e43c79;
  }

  footer a {
    text-decoration: none;
  }

  footer ul {
    flex-direction: row;
  }

  .FooterLogo {
    width: 520px;
    margin-top: 180px;
    margin-bottom: 180px;
  }

  .FooterMedia {
    padding-bottom: 80px;
  }
}
