/* footer {
  display: flex;
  align-items: center;
} */

/* .FooterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

footer img {
  margin-bottom: 40px;
}

Footer ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer {
  background-color: none;
  color: white;
  text-align: center;
  width: 100%;
  text-decoration: white underline;
  text-decoration-color: white;
  z-index: 1;
  position: relative;
}

footer a {
  color: white;
  font-family: "Abel", sans-serif;
  font-size: 24px;
}

/* #myLinks ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 0;
} */

footer li {
  margin-top: 50px;
}

footer ul :last-child {
  margin-bottom: 144px;
}

footer ul :first-child {
  margin-top: 144px;
}

footer img {
  margin-bottom: 20px;
  margin-top: 60px;
}

/*  Laptop footer */
@media screen and (min-width: 540px) {
  #FooterInfo {
    display: flex;
    justify-content: space-evenly;
  }

  #FooterInfo li {
    text-decoration: none;
    display: inline-block;
  }

  #FooterInfo li:hover a {
    color: #e43c79;
  }

  footer ul {
    flex-direction: row;
  }
}
