/* nav background img */

.HeadPicture {
  background-image: url("/images/phone\ cityscape.jpg");
  width: 100%;
  min-height: 600px;
  margin: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.HeadPicture button  {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}

.MainPicture {
  width: 100%;
  margin: 0px;
}

.HoverPicture {
  width: 100%;
  margin: 0px;
}

#ChangeColorPicture {
  width: 100%;
}
