/* nav background img */

.HeadPicture {
  background-image: url("/images/cityscape.jpg");
  width: 100%;
  height: 100%;
  object-fit: fill;
  margin: 0px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.MainPicture {
  width: 100%;
  margin: 0px;
}

.HoverPicture {
  width: 100%;
  margin: 0px;
}

#ChangeColorPicture {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .HeadPicture {
    background-image: url("/images/carcityscpefinal2.jpg");
  }

  .MainPicture {
    width: 55%;
    margin: 40px;
  }
}
