@media screen and (min-width: 540px) {
  .BackgroundShade {
    background-image: linear-gradient(to right, #6e5c97, #ffc1a8);
  }

  .HeadPicture {
    background-image: url("/images/phone\ cityscape.jpg");
    width: 100%;
    min-height: 1080px;
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .JoinTheSmoovement {
    color: black;
    font-size: 64px;
    padding: 60px;
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: "Abel", sans-serif;
    /* text-align: center; */
  }

  .TextOverHeadPicture {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
  }

  h2 {
    color: white;
    font-family: "abel";
    font-size: 48px;
    padding: 60px;
    display: flex;
    position: absolute;
  }

  .Dropdown {
    display: none;
  }
}
