@media screen and (min-width: 540px) {
  .BackgroundShade {
    background-image: linear-gradient(to right, #6e5c97, #ffc1a8);
  }

  .JoinTheSmoovement {
    color: black;
    font-size: 64px;
    padding: 60px;
    margin-top: 20px;
    margin-bottom: 80px;
    font-family: "Abel", sans-serif;
    /* text-align: center; */
  }

  h2 {
    color: white;
    display: block;
    font-family: "abel";
    padding: 60px;
  }

  .dropdown {
    display: none;
  }
}
