.topBar {
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Style the hamburger menu */
.icon {
  background-image: url("MenuImages/meny.svg");
  display: block;
  position: absolute;
}

.DropBtn {
  background-color: transparent;
  border: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
  /* bara temporärt så att man ser va det är klickbart */
}

/* Style the active link (or home/logo) */
.logo {
  color: white;
}

/* nav and dropdown-menu */

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
  text-align: center;
  color: white;
  text-decoration: white underline;
  background-color: #161414;
  overflow: auto;
  margin: 0%;
  padding: 0%;
  border: 0%;
  display: none;
}

/* Style navigation menu links */
#myLinks a {
  color: white;
  font-size: 17px;
}

#myLinks ul {
  list-style-type: none;
  padding: 0;
}

#myLinks li {
  margin-top: 50px;
}

#myLinks ul :last-child {
  margin-bottom: 144px;
}

#myLinks ul :first-child {
  margin-top: 144px;
}

#myLinks img {
  margin-bottom: 20px;
  margin-top: 60px;
}

#laptopNav {
  display: none;
}

.MenuItems {
  display: none;
}

@media screen and (min-width: 700px) {
  /* Laptop Menu */

  .DropBtn {
    display: none;
  }

  #myLinks {
    display: none;
  }

  #laptopNav {
    width: 100%;
    display: block;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
  }

  .MenuItems {
    width: auto;
    height: auto;
    float: none;
    display: inline-block;
    margin-right: 60px;
    justify-self: flex-end;
  }

  .MenuLine {
    background-color: white;
    height: 160px;
    width: 2px;
    display: inline-block;
  }

  .MenuItems ul {
    list-style-type: none;
    display: inline-block;
    text-align: right;
    width: 100%;
    font-size: 16px;
    font-family: "abel";
  }

  .MenuItems ul a {
    color: white;
    text-decoration: none;
  }

  .MenuItems li {
    padding: 5px;
  }

  .MenuItems li:hover a {
    color: #e43c79;
  }
}
