/* Over all styling */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0px;
  background-color: #161414;
}

.ButtonsAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100%;
}

.ButtonsAndTextDesktopUseText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ButtonsAndTextDesktopUse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.LineBreak {
  display: none;
}

.SpaceBetween {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 20px;
}

.FirstSectionText {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.SecondSectionText {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (min-width: 700px) {
  .ButtonsAndText {
    flex-direction: row;
    margin-top: 70%;
  }

  .ButtonsAndTextDesktopUseText {
    padding-left: 40px;
    align-items: flex-start;
  }

  .ButtonsAndTextDesktopUse {
    padding-left: 40px;
    align-items: flex-start;
    padding-bottom: 0px;
  }

  .LineBreak {
    display: block;
  }

  .DesktopDiv {
    display: block;
    display: flex;
  }

  .FirstSectionText {
    width: 40%;
    padding-left: 0px;
    padding-right: 40px;
  }

  .SecondSectionText {
    width: 57%;
    padding-left: 40px;
    padding-top: 70px;
  }
}
/* body */

.SpaceBetweenFirstBlock {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
  /* padding-bottom: 80px; */
}
