/* Over all styling */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0px;
  background-color: #161414;
}

.ButtonsAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100%;
}

.ButtonsAndTextDesktopUseText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ButtonsAndTextDesktopUse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.LineBreak {
  display: none;
}

.JoinTheSmoovement {
  display: none;
}

@media screen and (min-width: 700px) {
  .ButtonsAndText {
    flex-direction: row;
    margin-top: 70%;
  }

  .ButtonsAndTextDesktopUseText {
    padding-left: 40px;
    align-items: flex-start;
  }

  .ButtonsAndTextDesktopUse {
    padding-left: 40px;
    align-items: flex-start;
    padding-bottom: 0px;
  }

  .LineBreak {
    display: block;
  }

  .DesktopDiv {
    display: block;
    display: flex;
  }

  .slideshow-container {
    margin-top: 50px;
  }

  .JoinTheSmoovementContainer {
    display: flex;
    padding: 40px;
    justify-content: space-between;
  }

  .JoinTheSmoovement {
    display: block;
  }
}
