/* Over all styling */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0px;
  background-color: #161414;
}

.Container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ButtonsAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* nav and dropdown-menu */

.topnav {
  background-color: transparent;
  position: relative;
  display: flex;
  /* justify-content: flex-end; */
  padding: 30px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
#myLinks {
  display: none;
  text-align: center;
  color: white;
  width: 100%;
  width: auto;
  text-decoration: white underline;
  background-color: black;
  /* z-index: 1; */
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: white underline;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.icon {
  background-image: url("MenuImages/meny.svg");
  display: block;
  position: absolute;
  /* right: 30px;
  top: 30px; */
}

/* Style the active link (or home/logo) */
.logo {
  color: white;
}

ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  /* padding: 0; */
}

li {
  margin-top: 50px;
}

ul :last-child {
  margin-bottom: 144px;
}

ul :first-child {
  margin-top: 144px;
}

.topnav img {
  margin-bottom: 80px;
  margin-top: 80px;
}
/* .Menu {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
} */

.DropBtn {
  background-color: transparent;
  border: none;
  display: block;
  position: relative;
  right: 0;
  top: 0;
}

/*
.Dropdown {
  position: relative;
  display: inline-block;
}

.OpenMenu {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  /* overflow: auto; */
/* text-decoration: white underline; */
/* z-index: 1; */
/* display: none; */
/* position: absolute; */
/* } */

.OpenMenu a {
  color: white;
}

.Show {
  display: block;
}

ul {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding: 0;
}

li {
  margin-top: 50px;
}

ul :last-child {
  margin-bottom: 144px;
}

ul :first-child {
  margin-top: 144px;
}

.OpenMenu img {
  margin-bottom: 80px;
  margin-top: 80px;
}
*/

/* body */

.SpaceBetweenFirstBlock {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 80px;
  padding-right: 20px;
  padding-left: 20px;
  /* padding-bottom: 80px; */
}

.SpaceBetween {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 20px;
}

/* Carousel */

.slide img {
  width: 400px;
  height: 400px;
}

.carousel {
  justify-content: flex-start;
  overflow: hidden;
  padding: 40px 0;
  position: relative;
  width: 100vw;
}

.carousel > .container {
  display: flex;
  flex-direction: row;
  height: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 600ms;
}

.carousel > nav {
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100vw;
  z-index: 1;
}

.carousel > nav a {
  color: #000;
  font-size: 14px;
  opacity: 0.2;
  text-decoration: none;
}

.carousel > nav a:hover {
  opacity: 0.5;
}

.carousel > nav a.current {
  opacity: 1;
}

.carousel .slide {
  flex-shrink: 0;
  line-height: 1.4;
  text-align: center;
  width: 100vw;
}

.PictureGridWithText {
  display: none;
}

/* footer */

footer {
  background-color: none;
  color: white;
  text-align: center;
  width: 100%;
  text-decoration: white underline;
  text-decoration-color: white;
  z-index: 1;
  position: relative;
}

footer a {
  color: white;
}

footer img {
  margin-bottom: 80px;
  margin-top: 80px;
}
