h2 {
  color: white;
  font-family: "Gruppo", cursive;
  font-size: 48px;
  display: flex;
}

.JoinTheSmoovement {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Gruppo", cursive;
}

/* FINNS EJ KVAR I HTML, SPARAT OM VI BEHÖVER DEN, KAN TAS BORT ANNARS */
/* .TextOverPicture {
  display: flex;
  position: absolute;
  color: white;
  font-size: 22px;
  font-family: "Archivo Narrow", sans-serif;
  padding-left: 20px;
  padding-bottom: 30px;
} */

.BigText {
  color: rgb(255, 255, 255);
  font-size: 36px;
  margin-bottom: 0px;
  font-family: "Gruppo", cursive;
  text-decoration: underline;
  padding-left: 20px;
}

.FactsText {
  color: #e43c79;
  font-size: 36px;
  margin-bottom: 0px;
  font-family: "Gruppo", cursive;
}

.SmallText {
  color: #e43c79;
  font-size: 12px;
  font-family: "Gruppo", cursive;
  margin: 0px;
}

.TextInBetween {
  /* text-align: center; Ej på denna? */
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 0px;
  padding-bottom: 40px;
  font-family: "Gruppo", cursive;
}

.FactsAboutCar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 5%;
  row-gap: 15px;
}

.FactItems {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.MovingText {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

/* about and contact */

.about {
  text-align: center;
}

/* Footer */

footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
