h1 {
  color: #e43c79;
  font-size: 24px;
  margin-bottom: 0px;
  font-family: "Abel", sans-serif;
  text-align: center;
  font-weight: 400;
}

.TextOnPicture {
  color: #e43c79;
  font-size: 14px;
  margin-bottom: 0px;
  font-family: "Abel", sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

@media screen and (min-width: 700px) {
  .TextOnPicture {
    font-size: 24px;
  }

  h1 {
    font-size: 40px;
  }
}

h2 {
  color: white;
  font-family: "Gruppo", cursive;
  font-size: 48px;
  display: flex;
  padding-bottom: 40px;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  margin-bottom: 0px;
  font-family: "Gruppo", cursive;
  padding-bottom: 60px;
}

.BreadText {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Gruppo", cursive;
  line-height: 100%;
  padding-bottom: 80px;
}

.FactsText {
  color: #e43c79;
  font-size: 40px;
  margin-bottom: 0px;
  font-family: "Abel", sans-serif;
}

.SmallText {
  color: #e43c79;
  font-size: 12px;
  font-family: "Abel", sans-serif;
  margin: 0px;
}

.FactsAboutCar {
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20%;
  row-gap: 20px;
}

.FactItems {
  display: flex;
  flex-direction: column;
}

.MovingText {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

/* about and contact */

.about {
  text-align: center;
}

/* Footer */

footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}
