.MyVideo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 700px) {
  .MyVideo {
    width: 60%;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 120px;
    margin-bottom: 40px;
    justify-content: flex-end;
  }
}
