.MyVideo {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
}

/* .video {
  height: 330px;
  width: 600px;
  margin-bottom: 50px;
}

video::-webkit-media-controls {
  height: inherit;
  position: relative;
  display: flex !important;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
} */

@media screen and (min-width: 700px) {
}
